.Background {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #519e8a;
  height : 100vh;
}

.WebHeader {
  max-width: 350px;
  border-radius: 30px;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 40px;
  overflow: auto;
}

.Form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lastname{
  flex-direction: column;
}

input {
  padding: 8px 0px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  width: 100%;
  margin-top: 1em;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
}

.errorMessage {
  color: red;
  font-size: 0.7em;
}