.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: "border-box";
}

html,
body {
  padding: 0;
  margin: 0;
}

input {
  padding: 8px;
  margin: 2px;
  border-radius: 2px;
  border: #f2f2f2 solid 1px;
}

nav {
  background-color: #268bc6;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  color: #2da2db;
}

nav a.active {
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
}

.addAuthor {
  background-color: #2da2db;
  padding: 40px;
}

div.author {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  border-bottom: 1px #f2f2f2 solid;
}

div.author .info {
  padding: 10px;
}

.author-expand {
  display: none;
  background-color: #2da2db;
  padding: 10px;
}

.author-expand.show {
  display: block;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
  margin: 5px 5px;

  color: #eceff1;
  border-color: transparent;
  background: #78909c;
  box-shadow: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  border-color: transparent;
  color: #fff;
  background: #90a4ae;
  box-shadow: none;
}
.btn:active,
.btn.active {
  border-color: #546e7a;
  color: #cfd8dc;
  background: #546e7a;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background: #b0bec5;
  border-color: #b0bec5;
}

.btn-success {
  color: #e8f5e9;
  border-color: #43a047;
  background: linear-gradient(to bottom, #81c784 0%, #66bb6a 100%);
  box-shadow: inset 0 1px #c8e6c9, 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  border-color: #66bb6a;
  background: linear-gradient(to bottom, #a5d6a7 0%, #81c784 100%);
  box-shadow: inset 0 1px #e8f5e9, 0 2px 3px rgba(0, 0, 0, 0.2);
}
.btn-success:active,
.btn-success.active {
  border-color: #388e3c;
  color: #c8e6c9;
  background: linear-gradient(to bottom, #66bb6a 0%, #43a047 100%);
  box-shadow: inset 0 2px 2px #388e3c;
}
.btn-success {
  color: #e8f5e9;
  border-color: transparent;
  background: #66bb6a;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  border-color: transparent;
  color: #fff;
  background: #81c784;
  box-shadow: none;
}
.btn-success:active,
.btn-success.active {
  border-color: #43a047;
  color: #c8e6c9;
  background: #43a047;
  box-shadow: none;
}
.btn-warning {
  color: #fff3e0;
  border-color: #fb8c00;
  background: linear-gradient(to bottom, #ffb74d 0%, #ffa726 100%);
  box-shadow: inset 0 1px #ffe0b2, 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  border-color: #ffa726;
  background: linear-gradient(to bottom, #ffcc80 0%, #ffb74d 100%);
  box-shadow: inset 0 1px #fff3e0, 0 2px 3px rgba(0, 0, 0, 0.2);
}
.btn-warning:active,
.btn-warning.active {
  border-color: #f57c00;
  color: #ffe0b2;
  background: linear-gradient(to bottom, #ffa726 0%, #fb8c00 100%);
  box-shadow: inset 0 2px 2px #f57c00;
}
.btn-warning {
  color: #fff3e0;
  border-color: transparent;
  background: #ffa726;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  border-color: transparent;
  color: #fff;
  background: #ffb74d;
  box-shadow: none;
}
.btn-warning:active,
.btn-warning.active {
  border-color: #fb8c00;
  color: #ffe0b2;
  background: #fb8c00;
  box-shadow: none;
}
.btn-danger {
  color: #fbe9e7;
  border-color: #f4511e;
  background: linear-gradient(to bottom, #ff8a65 0%, #ff7043 100%);
  box-shadow: inset 0 1px #ffccbc, 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  border-color: #ff7043;
  background: linear-gradient(to bottom, #ffab91 0%, #ff8a65 100%);
  box-shadow: inset 0 1px #fbe9e7, 0 2px 3px rgba(0, 0, 0, 0.2);
}
.btn-danger:active,
.btn-danger.active {
  border-color: #e64a19;
  color: #ffccbc;
  background: linear-gradient(to bottom, #ff7043 0%, #f4511e 100%);
  box-shadow: inset 0 2px 2px #e64a19;
}
.btn-danger {
  color: #fbe9e7;
  border-color: transparent;
  background: #ff7043;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  border-color: transparent;
  color: #fff;
  background: #ff8a65;
  box-shadow: none;
}
.btn-danger:active,
.btn-danger.active {
  border-color: #f4511e;
  color: #ffccbc;
  background: #f4511e;
  box-shadow: none;
}
